---
// src/pages/index.astro
import BaseHead from '../layouts/BaseHead.astro';
import OpenGraphMeta from '../layouts/OpenGraphMeta.astro';
---
<html>
  <head>
    <BaseHead title="Page Title" description="Page Description" />
    <OpenGraphMeta />
    <link rel="alternate" type="application/rss+xml" href="/feed/posts.xml">
  </head>
  <body>
  </body>
</html>